.mainContainer2 {
    width: 50%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;

}

.usernameContainer {
    height: 25px;
    border-radius: 10px;
    margin-top: 10px;
    border-color: black;
}

.inputContainer {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    border-color: black;
    border: none;
    color: black;
    
}

.button {
    background-color: green;
    margin-top: 20px;
    height: 35px;
    border-radius: 5px;
    width: 100%
}